streamlit
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
sentence-transformers
transformers
torch
PyMuPDF
python-docx
numpy
Pillow
pandas>=1.5.0
openpyxl>=3.0.9
requests
